extends ../_layout.pug
block variables
  - _sessions = data['sessions'];
  - title = "議程 Agenda"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
block main
  main.container
    .my-20
      .flex
        button.rounded-lg.bg-white.drop-shadow-lg.mx-2.p-2.transition#day1(class="hover:bg-neutral-100")
          .font-bold Day 1
          .text-neutral-500 5/04（六）
        button.rounded-lg.bg-white.drop-shadow-lg.mx-2.p-2.transition#day2(class="hover:bg-neutral-100")
          .font-bold Day 2
          .text-neutral-500 5/05（日）
    .my-20
      h2.mb-8 Day1
      .grid.grid-cols-4
        each sessions, room in schedule['sessions_by_room']
          .relative(class="h-[4000px]")
            h4.bg-primary.text-white.font-bold.mb-4.py-2.px-4.mx-2.rounded-lg= room
            .relative
              each session in sessions
                if session['offset'] < 1440
                  - let classes = `top-[${session['offset']*8}px] h-[${session['size']*8}px] ${session['broadcast']?'w-[400%]':'w-full'}`
                  .block.absolute.left-0.p-2(class=classes)
                    .rounded-lg.bg-neutral-100.p-4.h-full.w-full.flex.items-center
                      .font-bold= session['zh']['title']