extends ../_layout.pug
block variables
  - title = "議程 Agenda"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
  link(rel="stylesheet", href="assets/css/agenda.css?version="+timestamp)
block main
  #modal
    .bg-white.max-w-lg
      .modal-head.flex.p-4.items-start
        h4.font-bold.me-3
        button.modal-close.text-2xl.text-dark.ms-auto
          i.fa-solid.fa-xmark
      .modal-body.p-4
  main.container
    .mt-20
      .flex
        button.rounded-lg.bg-white.drop-shadow-lg.mx-2.p-2.transition#day1(class="hover:bg-neutral-100")
          .font-bold Day 1
          .text-neutral-500(data-i18n="agenda.day-1.text") 5 月 4 日（六）
        button.rounded-lg.bg-white.drop-shadow-lg.mx-2.p-2.transition#day2(class="hover:bg-neutral-100")
          .font-bold Day 2
          .text-neutral-500(data-i18n="agenda.day-2.text") 5 月 5 日（日）
    .mt-10.mb-20
      h2.mb-8#day Day 1
      .overflow-y-auto
        .grid.relative.agenda-grid
          .block= ""
          - let rooms = ['R0', 'R1', 'R2', 'RH']
          each room in schedule.rooms
            if rooms.includes(room.id)
              .bg-secondary.text-white.font-medium.text-center.px-4.py-2.m-4.mb-8(data-i18n=`room.${room.id}`)= room.zh.name
          each time, key in schedule['sessions_timemap']
            - let styles = `grid-area: ${key} / time`
            .block.agenda-timeline.z-0(style=styles, data-day=key < 1440 ? '1':'2')
              .font-medium(class="translate-y-[-50%]")= time
          each sessions, room in schedule['sessions_by_room']
            if rooms.includes(room)
              each session in sessions
                - let styles = `grid-area: ${session['start_t']} / ${room} / ${session['end_t']} ${session['broadcast']?'/ end':''};`
                .block.p-3(style=styles, data-day=session['start_t'] < 1440 ? '1':'2')
                  if session.type == 'R'
                    .agenda-session.flex.items-center.justify-center.bg-neutral-300.rounded-xl.p-4.h-full.z-10.relative
                      .font-bold.text-neutral-900(data-i18n=`session.${session.id}.title`)= session.zh.title
                  else
                    .agenda-session.cursor-pointer.flex.flex-col.items-stretch.bg-neutral-100.p-4.h-full.z-10.relative(data-id=session.id)
                      .font-bold.text-neutral-800(data-i18n=`session.${session.id}.title`)= session.zh.title
                      each speaker_id in session.speakers
                        - let speaker = schedule.speakers.find((e) => e.id === speaker_id)
                        .text-neutral-800(data-i18n=`speakers.${speaker.id}.name`)= speaker.zh.name
                      if ['W', 'P', 'C', 'T', 'H'].includes(session.type)
                        .text-sm.text-white.my-2
                          span.bg-secondary.rounded-full.px-2.py-1.me-1(data-i18n=`session_type.${session.type}`)= schedule.session_types.find((t) => t.id === session.type).zh.name
                          if session.language
                            span.bg-neutral-400.rounded-full.px-2.py-1.me-1(data-i18n=`language.${session.language}`)= session.language === 'en' ? '英語' : '華語'
block script
  script(src='https://cdn.jsdelivr.net/npm/marked/marked.min.js')
  script.
    let schedule
    fetch ('assets/data/schedule.json')
      .then(response => response.json())
      .then(data => {
        schedule = data
        hash = window.location.hash
        if (hash) {
          $('.agenda-session[data-id="' + hash.substring(1) + '"]').click()
        }
      })
    $("[data-day='2']").addClass('hidden')
    $('#day1').click(function() {
      $("[data-day='1']").removeClass('hidden')
      $("[data-day='2']").addClass('hidden')
      $('#day').text('Day 1')
    });
    $('#day2').click(function() {
      $("[data-day='1']").addClass('hidden')
      $("[data-day='2']").removeClass('hidden')
      $('#day').text('Day 2')
    });
    $('.agenda-session[data-id]').on('click', function(e) {
      let currentLang = i18n.locale
      let id = $(this).data('id')
      history.replaceState(null, null, window.location.pathname + '#' + id);
      let session = schedule['sessions'].filter(session => session['id'] == id)[0]
      let bodyTmplDom = $(`
        <div>
          <div class="agenda-speaker"></div>
          <div class="agenda-description"></div>
        </div>
      `)
      session['speakers'].forEach(sid => {
        let speaker = schedule['speakers'].filter(speaker => speaker['id'] == sid)[0]
        let avatar = "assets/" + speaker['avatar'].split("/assets/")[1]
        $('.agenda-speaker', bodyTmplDom).append(`
          <div class="flex mb-4">
            <img src="${avatar}" class="w-20 h-20 rounded-full shrink-0">
            <div class="font-bold text-xl ms-4 my-auto">${speaker[currentLang]['name']}</div>
          </div>
        `)
      })
      $('.agenda-speaker', bodyTmplDom).append('<hr>')
      $('.agenda-description', bodyTmplDom).html(marked.parse(session[currentLang]['description']))
      $('#modal .modal-head > .font-bold').text(session[currentLang]['title'])
      $('#modal .modal-body').html(bodyTmplDom)
      $('#modal .modal-body a').filter(function() {
        return this.hostname != window.location.hostname;
      }).attr('target', '_blank');
      $('body').addClass('overflow-hidden')
      $('#modal').addClass('show')
    })
    $('#modal .modal-close').on('click', function(e) {
      e.preventDefault()
      $('body').removeClass('overflow-hidden')
      $('#modal').removeClass('show')
      history.replaceState(null, null, window.location.pathname);
    })

    $(document).on('keydown', function(e) {
      if (e.key === 'Escape') {
        $('#modal .modal-close').click();
      }
    });
