extends ../_layout.pug
block variables
  - title = "講者 Speakers"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
  link(rel="preload", href="assets/data/schedule.json?version="+timestamp, as="fetch")
block main
  #modal: .inner-modal.rounded-xl
    .modal-head.flex.px-4.pt-4.items-start
      header.head-group.flex.items-center.mb-2
        img#modal-avatar.rounded-full.shrink-0.w-20.bg-slate-100
        .flex.flex-col.items-stretch.mx-4
          h4#modal-title.font-bold
          h6#modal-subtitle
      button.modal-close.text-2xl.text-dark.ms-auto(aria-label="Close")
        i.fa-solid.fa-xmark
    .modal-body.px-4.pb-4
      article#modal-content.my-4
      section#modal-sessions.mx-2
  main.container
    .my-20
      h1.border-b.border-neutral-500.pb-3(data-i18n="speakers.title") 講者
    section.my-20
      h3.mb-12(data-i18n="speakers.keynote") 基調演講
      .mb-12
        .flex.flex-col.items-center.gap-12(class="md:flex-row md:items-start")
          img.rounded-full.shrink-0.w-full.h-auto.max-w-56(class="md:max-w-48", src="assets/img/speakers/jason-liu.jpg", alt="劉致昕 JS Liu")
          div
            h5.mb-6 劉致昕 JS Liu
            p 劉致昕，記者/作者/podcaster，著有《真相製造》、《烏克蘭的不可能戰爭》，聲音節目《不好意思請問一下》。
            p 前《報導者》副總編輯、前美國民主協會亞太區資訊健全計畫顧問，曾為 g0v News 記者編輯。從一篇德國海盜黨的報導，與公民科技、g0v 開始對話，多次隨團參與公民科技、開放政府等國際會議，採訪台灣、西班牙、墨西哥、東南亞和歐美的許多公民科技計畫，在台南開的咖啡店也曾是大松場地，在國際組織裡試著與社群協力完成亞  太區公民科技手冊。跟著「沒有人」的步伐，觀察與記錄公民科技與社群超過十年。
      .mb-12
        .flex.flex-col.items-center.gap-12(class="md:flex-row md:items-start")
          img.rounded-full.shrink-0.w-full.h-auto.max-w-56(class="md:max-w-48", src="assets/img/speakers/john-postill.jpg", alt="John Postill")
          div
            h5.mb-6 Dr. John Postill
            p John Postill (PhD, UCL) is an anthropologist based at RMIT University, Melbourne.
            p He specialises in the study of media, communication and sociopolitical change. To date he has carried out ethnographic fieldwork in Malaysia, Indonesia, Spain and (online) in the Anglosphere. He is the author of numerous publications, including The Anthropology of Digital Practices (in press, Routledge) and The Rise of Nerd Politics (2018, Pluto). At present he is researching the globalisation of the online culture wars.

    section.my-20
      h3.mb-4(data-i18n="speakers.sessions") 議程講者
      .grid.mb-12.items-start(class="grid-cols-3 md:grid-cols-5 gap-6")
        each speaker in schedule.speakers
          - let alt = (speaker.zh.name || '') + (speaker.zh.name === speaker.en.name ? '' : ' ' + speaker.en.name)
          .speaker.flex.flex-col.items-center.justify-center.cursor-pointer(id=speaker.id, data-id=speaker.id)
            .w-full.flex.items-center.justify-center.aspect-square.bg-slate-100.rounded-full
              if speaker.avatar && speaker.avatar.indexOf('default') < 0
                img.rounded-full(src=speaker.avatar, alt=alt)
              else
                img.rounded-full(src="assets/img/default-avatar.svg", aria-hidden)
            .my-2.text-center(data-i18n=`speakers.${speaker.id}.name`)= speaker.zh.name
block script
  script(src="assets/js/speakers.js?version="+timestamp)
  script.
    $('.speaker[data-id]').on('click', function (e) {
      let currentLang = i18n.locale
      let id = $(this).data('id')
      history.replaceState(null, null, window.location.pathname + '#' + id);
      let speaker = schedule['speakers'].filter(speaker => speaker.id == id)[0]
      $('#modal-avatar').attr('src', speaker.avatar)
      $('#modal-title').text(speaker[currentLang].name)
      $('#modal-subtitle').text(speaker[currentLang === 'en' ? 'zh' : 'en'].name)
        .toggleClass('hidden', speaker.zh.name === speaker.en.name)
      $('#modal-content').html(speaker[currentLang].bio)

      let sessions = schedule.sessions.filter(session => session.speakers.includes(id))
      let sessionsTmplDom = ''
      sessions.forEach(session => {
        let start = new Date(session.start)
        let end = new Date(session.end)
        let startHours = String(start.getHours()).padStart(2, '0');
        let startMinutes = String(start.getMinutes()).padStart(2, '0');
        let endHours = String(end.getHours()).padStart(2, '0');
        let endMinutes = String(end.getMinutes()).padStart(2, '0');
        let info = `${start.getMonth()+1}/${start.getDate()}  ${startHours}:${startMinutes} ~ ${endHours}:${endMinutes} @ ${session.room}`;
        sessionsTmplDom += (`
          <a class="block mb-4" href="agenda/#${session.id}">
          <h5>${session[currentLang].title}</h5>
          <div>${info}</div>
          </a>
        `)
      })
      $('#modal-sessions').html(sessionsTmplDom)

      $('body').addClass('overflow-hidden')
      $('#modal').addClass('show')
    })
