extends ../_layout.pug
block variables
  - title = "講者 Speakers"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
block main
  #modal: .inner-modal
    .modal-head.flex.px-4.pt-4.items-start
      .head-group
        h4.font-bold.me-3
        .tag-group
        .info-group
      button.modal-close.text-2xl.text-dark.ms-auto
        i.fa-solid.fa-xmark
    .modal-body.px-4.pb-4
  main.container
    .my-20
      h1.border-b.border-neutral-500.pb-3(data-i18n="speakers.title") 講者
    section.my-20
      h3.mb-12(data-i18n="speakers.keynote") 基調演講
      .mb-12
        .flex.items-center.gap-6(class="max-md:flex-col")
          img.rounded-full.shrink-0.w-48.h-48(src="assets/img/speakers/jason-liu.jpg", alt="劉致昕 JS Liu")
          div
            h5 劉致昕 JS Liu
            p 劉致昕，記者/作者/podcaster，著有《真相製造》、《烏克蘭的不可能戰爭》，聲音節目《不好意思請問一下》。
        p.mt-6 前《報導者》副總編輯、前美國民主協會亞太區資訊健全計畫顧問，曾為 g0v News 記者編輯。從一篇德國海盜黨的報導，與公民科技、g0v 開始對話，多次隨團參與公民科技、開放政府等國際會議，採訪台灣、西班牙、墨西哥、東南亞和歐美的許多公民科技計畫，在台南開的咖啡店也曾是大松場地，在國際組織裡試著與社群協力完成亞  太區公民科技手冊。跟著「沒有人」的步伐，觀察與記錄公民科技與社群超過十年。
      .mb-12
        .flex.items-center.gap-6(class="max-md:flex-col")
          img.rounded-full.shrink-0.w-48.h-48(src="assets/img/speakers/john-postill.jpg", alt="John Postill")
          div
            h5 Dr. John Postill
            p John Postill (PhD, UCL) is an anthropologist based at RMIT University, Melbourne.
        p.mt-6 He specialises in the study of media, communication and sociopolitical change. To date he has carried out ethnographic fieldwork in Malaysia, Indonesia, Spain and (online) in the Anglosphere. He is the author of numerous publications, including The Anthropology of Digital Practices (in press, Routledge) and The Rise of Nerd Politics (2018, Pluto). At present he is researching the globalisation of the online culture wars.

    section.my-20
      h3.mb-4(data-i18n="speakers.sessions") 議程講者
      .grid.mb-12(class="grid-cols-3 md:grid-cols-5 gap-4")
        each speaker in schedule.speakers
          .mb-4.aspect-square.bg-slate-100.rounded-full.flex.items-center.justify-center.cursor-pointer.speaker(data-id=speaker.id)
            - let speaker_name = (speaker.zh.name || '') + (speaker.zh.name === speaker.en.name ? '' : ' ' + speaker.en.name)
            if speaker.avatar && speaker.avatar.indexOf('default') < 0
              img.rounded-full(src=speaker.avatar, alt=speaker_name)
            else
              span.text-center(data-i18n=`speakers.${speaker.id}.name`)= speaker_name
block script
  script(src="assets/js/speakers.js?version="+timestamp)
  script.
    $('.speaker[data-id]').on('click', function (e) {
      let currentLang = i18n.locale
      let id = $(this).data('id')
      history.replaceState(null, null, window.location.pathname + '#' + id);
      let speaker = schedule['speakers'].filter(speaker => speaker['id'] == id)[0]
      let bodyTmplDom = $(`
        <div>
          <div class="flex items-center mb-4">
            <img class="rounded-full shrink-0 w-20" src="${speaker.avatar}">
              <h4 class="text-primary ml-4">${speaker[currentLang].name}</h4>
          </div>
          <p>${speaker[currentLang].bio}</p>
          <hr class="my-4">
          <div class="sessions"></div>
        </div>
        `)
      let sessions = schedule['sessions'].filter(session => session['speakers'].includes(id))
      sessions.forEach(session => {
        let start = new Date(session['start'])
        let end = new Date(session['end'])
        let startHours = String(start.getHours()).padStart(2, '0');
        let startMinutes = String(start.getMinutes()).padStart(2, '0');
        let endHours = String(end.getHours()).padStart(2, '0');
        let endMinutes = String(end.getMinutes()).padStart(2, '0');
        let info = `${start.getMonth()+1}/${start.getDate()}  ${startHours}:${startMinutes} ~ ${endHours}:${endMinutes} @ ${session['room']}`;
        $('.sessions', bodyTmplDom).append(`
          <a class="block mb-4" href="agenda/#${session.id}">
          <h5>${session[currentLang].title}</h5>
          <div>${info}</div>
          </a>
        `)
      })

      $('#modal .modal-body').html(bodyTmplDom)
      $('body').addClass('overflow-hidden')
      $('#modal').addClass('show')
    })
