extends ../_layout.pug
block variables
  - title = "工作團隊 Staff"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
block main
  main.container
    .my-20
      h1.border-b.border-neutral-500.pb-3(data-i18n="staff.title") 工作人員
      .text-sm.my-4(data-i18n="staff.subtitle") g0v Summit 2024 籌備團隊
    .my-20
      - let volunteers = {}
      - for (let volunteer of staff.members) volunteers[volunteer.id] = volunteer
      .grid.mb-12.items-end(class="grid-cols-3 md:grid-cols-6 gap-4")
        mixin staff-avatar(person)
          - let person_name = (person.name.zh || '') + (person.name.zh === person.name.en ? '' : ' ' + person.name.en)
          .aspect-square.bg-slate-100.rounded-full.flex.items-center.justify-center(data-id=person.id, class=(person.website ? "cursor-pointer" : ""))
            if person.avatar
              img.rounded-full(src=person.avatar, alt=person_name)
            else
              span.text-center(data-i18n=`staff.${person.id}`)= person_name
        each team in staff.teams
          each volunteer_id in team.members
            - let volunteer = volunteers[volunteer_id]
            .mb-4
              if team.members[0] === volunteer_id
                h5.my-2(data-i18n=`team.${team.id}`)= team.name.zh
              if volunteer
                +staff-avatar(volunteer)
              else
                .text-red= volunteer_id
          if team.sections
            each section in team.sections
              each volunteer_id in section.members
                - let volunteer = volunteers[volunteer_id]
                .mb-4
                  if section.members[0] === volunteer_id
                    h6.my-2(data-i18n=`team.${team.id}.${section.id}`)= section.name.zh
                  if volunteer
                    +staff-avatar(volunteer)
                  else
                    .text-red= volunteer_id
