extends ../_layout.pug
block variables
  - title = "工作團隊 Staff"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
block main
  main.container
    .my-20
      h1.border-b.border-neutral-500.pb-3(data-i18n="staff.title") 工作人員
      .text-sm.my-4(data-i18n="staff.subtitle") g0v Summit 2024 籌備團隊
    .my-20
      - let volunteers = {}
      - for (let volunteer of staff.members) volunteers[volunteer.id] = volunteer
      each team in staff.teams
        h4.mt-8.mb-4(id=team.id, data-i18n=`team.${team.id}`)= team.name.zh
        .grid.mb-6.items-start(class="grid-cols-3 md:grid-cols-6 gap-6")
          mixin staff-avatar(person_id)
            - let person = volunteers[person_id]
            - let clickable = !!(person?.website || person?.bio)
            - let alt = (person?.name) ? (person.name.zh || '') + (person.name.zh === person.name.en ? '' : ' ' + person.name.en) : person_id
            .flex.flex-col.items-center.justify-center(id=person_id, data-id=person_id)
              a.w-full.flex.items-center.justify-center.aspect-square.bg-slate-100.rounded-full(href=(clickable ? (person.bio ? `staff/#${person_id}` : person.website) : null), rel="external")
                if person && person.avatar
                  img.w-full.rounded-full(src=person.avatar, alt=alt)
                else
                  img.rounded-full(src="assets/img/default-avatar.svg", aria-hidden)
              .mt-2.mb-4.text-center(data-i18n=`staff.${person_id}`, class=(person ? '' : 'text-red'))= person && person.name.zh
          each volunteer_id in team.members
            +staff-avatar(volunteer_id)
        if team.sections
          each section in team.sections
            h5.my-4(id=section.id, data-i18n=`team.section.${section.id}`)= section.name.zh
            .grid.mb-6.items-start(class="grid-cols-3 md:grid-cols-6 gap-6")
              each volunteer_id in section.members
                +staff-avatar(volunteer_id)
