extends ../_layout.pug
block variables
  - _partners = data['partners']
  - title = "合作夥伴 Partners"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)

mixin sponsor_title(sponsor)
  h5.mb-2(id=sponsor.id, data-i18n=`partners.${sponsor.id}`)= sponsor.name.zh

mixin sponsor_logo(sponsor)
  if sponsor.logo
    a.mx-auto.aspect-video.max-h-64.flex.items-center.justify-center(class="md:max-w-md", href=sponsor.website, target="_blank", rel="external")
      img.max-h-full(src=sponsor.logo)

mixin sponsor_summary(sponsor)
  if sponsor.summary.zh || sponsor.summary.en
    div(data-i18n=`[html]partners.${sponsor.id}.summary`)
      each p in (sponsor.summary.zh || sponsor.summary.en).split('\n')
        p= p

block main
  main.container
    .my-20
      h1.border-b.border-neutral-500.pb-3(data-i18n="partners.title") 合作夥伴
    .my-20
      each level in _partners
        h3.mb-4(id=level.id, data-i18n=`partners.${level.id}`)= level.name.zh
        if level.id === "organizer"
          .mb-12
            +sponsor_title(level.sponsors[0])
            +sponsor_logo(level.sponsors[0])
            +sponsor_summary(level.sponsors[0])
        else if level.id === "program-partners"
          .mb-12.grid.gap-x-12(class="md:grid-cols-2")
            each sponsor in level.sponsors
              .mb-4
                +sponsor_title(sponsor)
                +sponsor_logo(sponsor)
                +sponsor_summary(sponsor)
        else
          .mb-12
            each sponsor in level.sponsors
              .mb-4.flex-wrap.flex-row-reverse(class="md:flex")
                .w-full
                  +sponsor_title(sponsor)
                .flex-none.self-center(class="md:w-2/6 md:mx-12")
                  +sponsor_logo(sponsor)
                .flex-1
                  +sponsor_summary(sponsor)
