extends ../_layout.pug
block variables
  - _partners = data['partners']
  - title = "合作夥伴 Partners"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
  script
    -
      _i18n = {zh: {}, en: {}}
      for (level of _partners) {
        _i18n.zh[`partners.${level.id}`] = level.name.zh
        _i18n.en[`partners.${level.id}`] = level.name.en
        for (sponsor of level.sponsors) {
          _i18n.zh[`partners.${sponsor.id}`] = sponsor.name.zh
          _i18n.en[`partners.${sponsor.id}`] = sponsor.name.en
          if (sponsor.summary.zh) {
            _i18n.zh[`partners.${sponsor.id}.summary`] = sponsor.summary.zh
            _i18n.en[`partners.${sponsor.id}.summary`] = sponsor.summary.en || " "
          }
        }
      }
    | const additional_i18n = !{JSON.stringify(_i18n)}

block main
  .container.my-20
    h1.border-b.border-neutral-500.pb-3(data-i18n="partners.title") 合作夥伴
  .container.my-20
    each level in _partners
      h3.mb-4(id=level.id, data-i18n=`partners.${level.id}`)= level.name.zh
      .mb-12(class=(level.sponsors.length > 1 ? "grid gap-x-8 gap-y-4 md:grid-cols-2" : ""))
        each sponsor in level.sponsors
          div
            h5.mb-2(id=sponsor.id, data-i18n=`partners.${sponsor.id}`)= sponsor.name.zh
            if sponsor.logo
              a.mx-auto.aspect-video.max-h-64.flex.items-center.justify-center(class="md:max-w-md", href=sponsor.website, target="_blank", rel="external")
                img.max-h-full(src=sponsor.logo)
            if sponsor.summary.zh
              p(data-i18n=`partners.${sponsor.id}.summary`)= sponsor.summary.zh
